
.header{
    padding: 32px;
    text-align: center;
    background-color: #ee964b;
    background-image: -webkit-linear-gradient(rgba(153,153,153,0.5) 1px,transparent 0px), -webkit-linear-gradient(0,rgba(153, 153, 153, 0.5) 1px,transparent 0px);
    background-size: 16px 16px;
    background-position: -8px -8px ;
    
}