
.step{
    min-height: 10px;
    overflow: hidden;
    padding: 32px;
    background-color: #f4d35e;
    margin-bottom: 32px;

    .step_img{
        width: 100%;
        height: auto;
        
    }

    .step_p{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .step_span{
        font-weight: 700;
        color: #048ba8;
    }
}
